

.account-contianer {
  margin-top: 72px; /*header height 만큼*/
}

.css-bkdk1y-MuiGrid-root > img {
  border-radius: 70%;
}

.css-1idn90j-MuiGrid-root > img {
  border-radius: 70%;
}

.account-info {
  width: 70%;
  height: auto;
  background: none;

}
.user-id {
  display: flex;
  align-items: center;
}

.account-icon {
  color: rgba(231,127,112);
}
.account-user-span {
  color: black;
  font-weight: 600;
}

.account-sender-input{
  width: 300px;
}

.sender-address {
  width: 100%;
  border: 2px solid #a9def9;
  border-radius: 5px;
}

.account-sender-button {
  background-color: transparent;
  border: none;
}
.account-sender-chip {
  border: none;
  color: white;
}
.write-link {
  text-decoration: none;
}


