

.account-contianer {
  margin-top: 72px; /*header height 만큼*/
}

.css-bkdk1y-MuiGrid-root > img {
  border-radius: 70%;
}

.css-1idn90j-MuiGrid-root > img {
  border-radius: 70%;
}

.account-info {
  width: 70%;
  height: auto;
  background: none;
  border: 3px solid #a9def9;
  border-radius: 20px;
}
.user-id {
  display: flex;
  align-items: center;
}

.account-icon {
  color: #ff85a1;
}
.account-user-span {
  
  color: black;
  font-weight: 600;
}

.account-sender-input{
  width: 300px;
}

.sender-address {
  width: 100%;
  border: 2px solid #a9def9;
  border-radius: 5px;
}

.account-sender-button {
  background-color: transparent;
  border: none;
}
.account-sender-chip {
  border: none;
  color: white;
}


.account-contents-container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0 400px; 
}

.account-contents {
  margin-right: 30px;
  justify-content: center;
  width: auto;
}

.account-contents-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.accoutn-contents-box {
  width: auto;
  display: flex;
  flex-direction: column;
}

.account-contents-only {
  flex-direction: column;
  
}
/*margin bottom 설정 해줘야함.*/
.account-contents-wrapper {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px 0px;
  margin-bottom: -20px;
  width: 400px;
  height: auto;
}


.account-nft {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}
.account-nft-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.account-nft-img > img {
  width: 100%;
}

.card-comments {
  visibility: hidden;
}
