
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}

.nav-list {
  background-color:white;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#list-subheader {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 17px;
}

/* 헤더랑 포개지는거.*/
#list-container {
  
}

.list-continental > span {
  font-size: 16px;
  font-weight: normal;
  color: black;

}

.list-region > span {
  font-size: 14px;
  font-weight: normal;
  color: black;
}

#list-contianer > footer {
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#flight {
  color: rgba(231,127,112);
}

#flag {
  color: rgba(113,122,133);
}



