
.nav-list {
  background-color: #F0B918;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#list-subheader {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 17px;
}

/* 헤더랑 포개지는거.*/
#list-container {
  
}

#list-contianer > footer {
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#flight {
  color: #F04866;
}

#flag {
  color: #F04866;
}



